<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="E:\\test.log" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%property{UserName}][%property{CompanyName}] %message [%thread] [%-5level] [%logger]%newline" />
		</layout>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
	</appender>
	<appender name="CloudLogger" type="Google.Cloud.Logging.Log4Net.GoogleStackdriverAppender,Google.Cloud.Logging.Log4Net">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate %-5level [%thread] %logger - %message" />
		</layout>
		<projectId value="refresh-list" />
		<logId value="list-integration" />

		<credentialFile value="E:\Projects\My Playground\GCP Samples\gcp-samples\refresh-list\refresh-list-e03a82aab4e9.json" />
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="LogFileAppender" />
		<appender-ref ref="CloudLogger" />
	</root>
</log4net>